@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/*Faz uma configuração global dos elementos*/
*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgba(0, 0, 141, 0.87);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: white;
}

/*Adiciona o efeito de descida ao clicar no elemento do menu navegação*/
html{
    scroll-behavior: smooth;
}

/*Configura o header*/
header{
    text-align: center; /*Centraliza o titulo e o paragrafo abaixo do titulo*/
    padding-top: 10px; /*Cria um pouco mais de espaço na parti de cima do titulo*/
    background-image: linear-gradient(to top, rgb(0, 2, 141), rgba(255, 255, 255, 0.349));
}


header > h1 {
    color: white;
    font-family: 'Bebas Neue', sans-serif; /*Defini uma fonte diferente das outras usadas*/
    font-weight: normal; /*Remove o negrito do titulo*/
    font-size: 5.5em; /*Tamanho das letras*/
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267); /*Adiciona sombra*/
}

header > p{
    color: white;
    padding-bottom: 20px;
    font-size: 1em; /*Defini o tamanho da fonte do paragrafo no header*/
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);

}

nav {
    background-color: rgba(0, 1, 51, 0.712); /*Cor de fundo do nav*/ 
    padding: 20px;
}

nav > a{
    color: white;
    text-decoration: none;
    padding: 30px;
    border-radius: 5px;
    font-weight: bold;
}

/*Cria efeito ao passar o mouse*/
nav > a:hover{
    color: rgb(0, 4, 231)
}

#integrantes{
    text-align: center; /*Centraliza todos os elementos dentro do id integrantes*/
    padding: 3px;
}

#integrantes > h2{
    padding: 10px;
}

.integrante > h3{
    color: white;
    padding: 2px;
    text-shadow: 2px 2px 0px rgb(0, 0, 141);
}

.integrante{
    margin-bottom: 40px; /*Cria um espaçamento entre cada integrante*/
}

.integrante > p {
    font-size: 1em;
    padding: 5px;
    text-indent: 20px; /*Cria um identação nos interesses dos integrates*/
    line-height: 1.5em;
}

.integrante > h2 {
    font-size: 1.3em;
    text-shadow: 2px 2px 0px rgb(0, 0, 141);
}

.integrante > p > img{
    padding: 3px;
}

/* Coloca as fotos dos integrantes em formato redondo*/
.integrante > img{
    border-radius: 50%;
}

.integrante > p > a{
    color: white;
    text-decoration: none;
    
}

.integrante > p > a:hover{
    color: rgba(0, 1, 51, 0.897)
}

#tarefas {
    text-align: center;
}

#tarefas > table > caption{
    padding: 10px;
    background-color: rgba(0, 1, 51, 0.842);
}

#tarefas > table{
    padding: 10px;
    width: 70%;
    border-collapse: collapse;
    margin: 0 auto; /*centraliza a tabela*/

}

td, th{
    border: 1.5px solid black;
    padding: 10px;
}

/*Faz o efeito zebrado na lista*/
div#tarefas tr:nth-child(even){
    background-color: rgba(0, 1, 51, 0.712);
}

div#tarefas{
    overflow: auto;
}

#sobre{
    margin: 20px;
    text-align: center;
    padding: 10px;
}

#sobre > p{
    padding: 10px;
}

#sobre > p > img{
    padding: 10px;
}

footer{
    text-align: center;
    background-color: rgba(0, 1, 51, 0.712);
    padding: 10px;
}